.container
  .page-header
    -if @current_user == @user
      .pull-right
        =link_to 'Change Password', edit_user_path(@user), class: 'btn btn-info'
    %h1
      ="#{@user.name} - #{@user.team_name}"

  %table.table.table-striped
    %thead
      %tr
        %th Position
        %th Character
        %th Show
        %th Round Drafted
    %tbody
      -@positions.each do |position|
        %tr
          %td=link_to position.name, position
          -if @user.picks.find_by(position_id: position.id)
            %td=@user.picks.find_by(position_id: position.id).name
            %td=@user.picks.find_by(position_id: position.id).show
            %td=@user.picks.find_by(position_id: position.id).round
            -if @user == @current_user
              %td=link_to 'Edit', edit_user_pick_path(@current_user, @user.picks.find_by(position_id: position.id)), class: 'btn btn-primary'
          -else
            %td
            %td
            %td
            -if @user == @current_user
              %td
