.form-horizontal
  =form_for [@current_user, @pick] do |f|
    =render partial: 'shared/errors', locals: {object: @pick}
    .form-group
      =f.label :name, class: 'col-sm-2 control-label'
      .col-sm-10
        =f.text_field :name, class: 'form-control'
    .form-group
      =f.label :show, class: 'col-sm-2 control-label'
      .col-sm-10
        =f.text_field :show, class: 'form-control'
    .form-group
      =f.label :position, class: 'col-sm-2 control-label'
      .col-sm-10
        =f.collection_select(:position_id, Position.all, :id, :name)
    .form-group
      .col-sm-offset-2.col-sm-10
        =f.submit @pick.id ? 'Update Character' : 'Draft Character' , class: 'btn btn-info btn-lg'
